body {
  background-color: #6d4505;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: black;
  margin-top: 20px;
}

.cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; 
  padding: 20px;
}

.pq {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.termo {
  background-color: white;
  color: black;
  padding: 15px;
  border: 2px solid #6d4505;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  overflow-y: auto;
}

p {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
}

.linha {
  height: 100%;
  width: 2px;
  margin: 0 10px; 
}

.cabeçario {
  background-color: rgb(245, 245, 245);
  text-align: center;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #825d19;
}

.skew-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.skew-menu li {
  float: left;
}

.skew-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.skew-menu li a:hover {
  background-color: #6d4505;
}

.principal {
  text-align: center;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.subtitulo {
  background-color: #6d4505;
  padding: 20px;
  border-radius: 30px;
  margin-top: 20px;
}

.planos {
  background-color: #6d4505;
  border: none;
  border-radius: 80px;
  padding: 40px 50px;
  margin-top: 60px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

.segundo {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  background-color: #6d4505;
  color: white;
}

.vc {
  background-color: white;
  text-align: center;
  padding: 100px 0;
}

.avaliação {
  background-color: #6d4505;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 270px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
}

footer {
  background-color:#6d4505;
  color: black;
  text-align: center;
  padding: 30px;
}
